<div class="container"  id="my-jumbo">
<div class="jumbotron text-center text-white">
    <h1 class="display-4">Assets Management</h1>
    <p class="lead">In this application your can create your personal Assets form</p>
    <hr class="my-4">
    <p>Click on singup button to register your self..</p>
    <p class="lead">
    <%= link_to "Sign up!", signup_path, class: "btn btn-danger btn-lg"%>
    </p>
</div>
</div>
